.form {
  display: flex;
  padding: 0 10px 20px;
  gap: 5px;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background-color: var(--panel-color);
}

.label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 10px;
}

.submitBtn {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: var(--brand-color);
  border: 1px solid gainsboro;
  border-radius: 8px;
}

.submitBtn:hover {
  opacity: 0.9;
  border-color: #000;
  cursor: pointer;
}

.submitBtn:disabled {
  background-color: var(--disabled-btn-color);
  cursor: inherit;
  border: none;
  opacity: 1;
}