:root {
  --input-height: 40px;
  --brand-color: #00a884;
  --brand-second-color: #e1fef2;
  --panel-color: #f0f2f5;
  --chat-color: #d1d7db;
  --disabled-btn-color: darkgrey;
}

html {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  margin: 0;
}
