.window {
  width: 95%;
  max-width: 1200px;
  height: 95%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 95px auto;
}

.dialogsList {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
